<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Goals</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <div th:each="el : ${goal}" class="alert alert-info mt-2">
        <h3 th:text="${el.name}"></h3>
        <p th:text="${el.description}"></p>
        <p th:text="${el.percent}"></p>
        <a th:href="'/goal/subgoal/add'" class="btn btn-warning">Add SubGoal</a>
        <a th:href="'/goal/' + ${el.id} + '/edit'" class="btn btn-warning">Edit goal</a>
        <form th:action="'/goal/' + ${el.id} + '/remove'" method="post"><br>
            <button class="btn btn-warning">Remove goal</button>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>