<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit goal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Edit goal</h1>
    <div th:each="el : ${goal}">
        <form method="post">
            <input type="text" th:value="${el.name}" name="name" placeholder="Write your goal name" class="form-control"><br>
            <textarea type="text" name="description" placeholder="Write your goal description" class="form-control" th:text="${el.description}"/><br>
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>

</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>